<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>8.ContextAttributeDemo</display-name>
  <servlet>
    <servlet-name>servletpack.Servletone</servlet-name>
    <servlet-class>servletpack.Servletone</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletpack.Servletone</servlet-name>
    <url-pattern>/Servletone</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servletpack.Welcome</servlet-name>
    <servlet-class>servletpack.Welcome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletpack.Welcome</servlet-name>
    <url-pattern>/Welcome</url-pattern>
  </servlet-mapping>
</web-app>